table {
    width: 200px;
    margin: 20px auto;
    border-collapse: collapse;
}
td {
    text-align: center;
    padding: 10px;
}
button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
input {
    width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 16px;
}